<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>공지사항 상세</title>

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/nav.css}" />
  <link rel="stylesheet" th:href="@{/css/subFooter.css}" />
  <link rel="stylesheet" th:href="@{/css/subnav.css}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous"/>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    .container {
      flex: 1;
      padding-top: 30px;   /* 제목 위 여백 */
      padding-bottom: 30px;
    }
    .container h2 {
      margin-top: 20px;
    }
    .btn { border-radius: 0 !important; }
    * { font-family: 'Noto Sans KR', sans-serif !important; }
    .content {
      margin: 80px auto;
    }
    a { text-decoration: none; color: black; }
    a:hover { color: rgba(0,0,0,0.7); }

    /* 댓글 프로필 */
    .profile-image {
      width: 50px; height: 50px;
      border: 1px solid #cecece;
      border-radius: 50%;
    }
    .comments ul {
      padding: 0; margin: 0;
      list-style: none;
    }
    .comments li {
      position: relative;
      border-top: 1px solid #888;
      clear: left;
    }
    .comments dt {
      margin-top: 5px;
    }
    .comments dd {
      margin-left: 50px;
    }
    .reply-icon {
      position: absolute; top: 1em; left: 1em;
      color: red;
    }
    pre {
      padding: 9.5px; margin: 0 0 10px;
      font-size: 13px; line-height: 1.428;
      background: #f5f5f5; border: 1px solid #ccc;
      border-radius: 4px;
      white-space: pre-wrap;
      word-break: break-all;
    }

    /* 댓글 폼 */
    .comment-form textarea { float: left; width: 84%; height: 100px; }
    .comment-form button   { float: left; width: 14%; height: 100px; }
    .comments .comment-form { display: none; }

    /* 로더 */
    .loader {
      text-align: center;
      display: none;
    }
    .loader svg {
      animation: rotateAni 1s ease-out infinite;
    }
    @keyframes rotateAni {
      to { transform: rotate(360deg); }
    }
    .footer-sticky {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
    }
  </style>
</head>
<body>

<!-- main nav -->
<div th:replace="fragments/nav :: nav"></div>
<!-- sub nav -->
<div th:replace="fragments/subnav :: subnav('support','notice')"></div>

<div class="container mb-5" style="margin-bottom:300px;">

  <!-- 글 정보 -->
  <h2 th:text="${dto.title}">제목</h2>
  <br/>
  <span>
      작성자 : <span th:text="${dto.writer}">writer</span>
      조회수 : <span th:text="${dto.viewCount}">0</span><br/>
      작성일 :
      <span th:text="${#temporals.format(dto.regdate,'yyyy-MM-dd HH:mm:ss')}">
        2025-01-01 12:34:56
      </span>
    </span>

  <div class="content" th:utext="${dto.content}">
    <!-- HTML 포함된 본문이 있을 경우 th:utext -->
  </div>

  <div class="mb-3">
    <a class="btn btn-outline-dark"
       th:href="@{/Notice/List(condition=${condition},keyword=${keyword})}">
      목록보기
    </a>
    <span th:if="${dto.writer == id}">
        <a class="btn btn-outline-dark"
           th:href="@{/notice/updateForm(num=${dto.num},condition=${condition},keyword=${keyword})}">
          수정
        </a>
        <a class="btn btn-outline-dark"
           th:href="@{/notice/delete(num=${dto.num},condition=${condition},keyword=${keyword})}">
          삭제
        </a>
      </span>
  </div>

  <!-- 댓글 목록 -->
  <div class="comments">
    <ul>
      <li th:each="tmp : ${commentList}"
          th:attr="id=${'reli' + tmp.num}">
        <!-- 삭제된 댓글 -->
        <div th:if="${tmp.deleted == 'yes'}">
          삭제된 댓글 입니다.
        </div>
        <!-- 일반 댓글/대댓글 -->
        <div th:unless="${tmp.deleted == 'yes'}">

          <!-- 대댓글이면 들여쓰기와 아이콘 -->
          <svg th:if="${tmp.num != tmp.commentGroup}"
               class="reply-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5
                       0 0 0 2.5 2.5h9.793l-3.347
                       3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5
                       0 0 0 0-.708l-4-4a.5.5
                       0 0 0-.708.708L13.293
                       8.3H3.5A1.5 1.5 0 0 1
                       2 6.8V2a.5.5 0 0
                       0-.5-.5z"/>
          </svg>

          <dl>
            <dt>
              <!-- 프로필 -->
              <span th:if="${#strings.isEmpty(tmp.profile)}">
                  <svg class="profile-image" xmlns="http://www.w3.org/2000/svg"
                       width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8
                             0 0 1 0 8zm8-7a7 7
                             0 0 0-5.468 11.37C3.242
                             11.226 4.805 10 8 10s4.757
                             1.225 5.468 2.37A7 7
                             0 0 0 8 1z"/>
                  </svg>
                </span>
              <img th:if="${!#strings.isEmpty(tmp.profile)}"
                   th:src="@{${tmp.profile}}" class="profile-image" />

              <span th:text="${tmp.writer}">writer</span>
              <span th:if="${tmp.num != tmp.commentGroup}">
                  @<i th:text="${tmp.targetId}">target</i>
                </span>
              <span th:text="${#temporals.format(tmp.regdate,'yyyy-MM-dd HH:mm')}">
                  2025-01-01 12:34
                </span>

              <a href="javascript:" class="reply-link"
                 th:attr="data-num=${tmp.num}">
                답글
              </a>
              <span th:if="${tmp.writer == id}">
                  <a href="javascript:" class="update-link"
                     th:attr="data-num=${tmp.num}">수정</a>
                  <a href="javascript:" class="delete-link"
                     th:attr="data-num=${tmp.num}">삭제</a>
                </span>
            </dt>
            <dd>
              <pre th:text="${tmp.content}">댓글 내용</pre>
            </dd>
          </dl>

          <!-- 대댓글 폼 -->
          <form th:action="@{/notice/comment_insert}"
                th:attr="id=${'reForm' + tmp.num}"
                class="comment-form re-insert-form"
                method="post">
            <input type="hidden" name="ref_group" th:value="${dto.num}" />
            <input type="hidden" name="target_id" th:value="${tmp.writer}" />
            <input type="hidden" name="comment_group" th:value="${tmp.commentGroup}" />
            <textarea name="content"></textarea>
            <button class="btn btn-dark" type="submit">등록</button>
          </form>

          <!-- 수정 폼 -->
          <form th:if="${tmp.writer == id}"
                th:action="@{/notice/comment_update}"
                th:attr="id=${'updateForm' + tmp.num}"
                class="comment-form update-form"
                method="post">
            <input type="hidden" name="num" th:value="${tmp.num}" />
            <textarea name="content" th:text="${tmp.content}"></textarea>
            <button class="btn btn-dark" type="submit">수정</button>
          </form>

        </div>
      </li>
    </ul>
  </div>

  <!-- 로딩 아이콘 -->
  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
         fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5
                 0 0 1 .908-.417A6 6 0 1
                 1 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25
                 0 0 1 .41-.192l2.36
                 1.966c.12.1.12.284
                 0 .384L8.41 4.658A.25.25
                 0 0 1 8 4.466z"/>
    </svg>
  </div>

  <!-- 새로운 댓글 입력 폼 -->
  <form class="comment-form insert-form"
        th:action="@{/notice/comment_insert}"
        method="post">
    <input type="hidden" name="ref_group" th:value="${dto.num}" />
    <input type="hidden" name="target_id" th:value="${dto.writer}" />
    <textarea name="content"
              th:attr="placeholder=${id == null} ? '댓글 작성을 위해 로그인이 필요합니다.' : ''">
      </textarea>
    <button class="btn btn-dark" type="submit">등록</button>
  </form>

</div>

<script th:src="@{/js/gura_util.js}"></script>
<script th:inline="javascript">
  let isLogin = /*[[${id != null}]]*/ false;
  let currentPage = 1;
  let lastPage    = /*[[${totalPageCount}]]*/ 1;
  let isLoading   = false;

	/*
		window.scrollY => 위쪽으로 스크롤된 길이
		window.innerHeight => 웹브라우저의 창의 높이
		document.body.offsetHeight => body 의 높이 (문서객체가 차지하는 높이)
	*/
	window.addEventListener("scroll", function(){
		//바닥 까지 스크롤 했는지 여부
		const isBottom =
			window.innerHeight + window.scrollY  >= document.body.offsetHeight;
		//현재 페이지가 마지막 페이지인지 여부 알아내기
		let isLast = currentPage == lastPage;
		//현재 바닥까지 스크롤 했고 로딩중이 아니고 현재 페이지가 마지막이 아니라면
		if(isBottom && !isLoading && !isLast){
			//로딩바 띄우기
			document.querySelector(".loader").style.display="block";

			//로딩 작업중이라고 표시
			isLoading=true;

			//현재 댓글 페이지를 1 증가 시키고
			currentPage++;

			/*
				해당 페이지의 내용을 ajax 요청을 통해서 받아온다.
				"pageNum=xxx&num=xxx" 형식으로 GET 방식 파라미터를 전달한다.
				pageNum 은 새로 받아올 댓글의 페이지 번호
				num 은 원글의 글 번호(ref_group 번호)
			*/
			ajaxPromise("ajax_comment_list.do","get",
					"pageNum="+currentPage+"&num=${dto.num}")
			.then(function(response){
				//json 이 아닌 html 문자열을 응답받았기 때문에  return response.text() 해준다.
				return response.text();
			})
			.then(function(data){
				//data 는 html 형식의 문자열이다.
				console.log(data);
				// beforebegin | afterbegin | beforeend | afterend
				document.querySelector(".comments ul")
					.insertAdjacentHTML("beforeend", data);
				//로딩이 끝났다고 표시한다.
				isLoading=false;
				//새로 추가된 댓글 li 요소 안에 있는 a 요소를 찾아서 이벤트 리스너 등록 하기
				addUpdateListener(".page-"+currentPage+" .update-link");
				addDeleteListener(".page-"+currentPage+" .delete-link");
				addReplyListener(".page-"+currentPage+" .reply-link");
				//새로 추가된 댓글 li 요소 안에 있는 댓글 수정폼에 이벤트 리스너 등록하기
				addUpdateFormListener(".page-"+currentPage+" .update-form");

				//로딩바 숨기기
				document.querySelector(".loader").style.display="none";
			});
		}
	});

	//인자로 전달되는 선택자를 이용해서 이벤트 리스너를 등록하는 함수
	function addUpdateListener(sel){
		//댓글 수정 링크의 참조값을 배열에 담아오기
		// sel 은  ".page-xxx  .update-link" 형식의 내용이다
		let updateLinks=document.querySelectorAll(sel);
		for(let i=0; i<updateLinks.length; i++){
			updateLinks[i].addEventListener("click", function(){
				//click 이벤트가 일어난 바로 그 요소의 data-num 속성의 value 값을 읽어온다.
				const num=this.getAttribute("data-num"); //댓글의 글번호
				document.querySelector("#updateForm"+num).style.display="block";

			});
		}
	}
	function addDeleteListener(sel){
		//댓글 삭제 링크의 참조값을 배열에 담아오기
		let deleteLinks=document.querySelectorAll(sel);
		for(let i=0; i<deleteLinks.length; i++){
			deleteLinks[i].addEventListener("click", function(){
				//click 이벤트가 일어난 바로 그 요소의 data-num 속성의 value 값을 읽어온다.
				const num=this.getAttribute("data-num"); //댓글의 글번호
				const isDelete=confirm("댓글을 삭제 하시겠습니까?");
				if(isDelete){
					// gura_util.js 에 있는 함수들 이용해서 ajax 요청
					ajaxPromise("comment_delete.do", "post", "num="+num)
					.then(function(response){
						return response.json();
					})
					.then(function(data){
						//만일 삭제 성공이면
						if(data.isSuccess){
							//댓글이 있는 곳에 삭제된 댓글입니다를 출력해 준다.
							document.querySelector("#reli"+num).innerText="삭제된 댓글입니다.";
						}
					});
				}
			});
		}
	}
	function addReplyListener(sel){
		//댓글 링크의 참조값을 배열에 담아오기
		let replyLinks=document.querySelectorAll(sel);
		//반복문 돌면서 모든 링크에 이벤트 리스너 함수 등록하기
		for(let i=0; i<replyLinks.length; i++){
			replyLinks[i].addEventListener("click", function(){

				if(!isLogin){
					const isMove=confirm("로그인이 필요 합니다. 로그인 페이지로 이동 하시겠습니까?");
					if(isMove){
						location.href=
							"${pageContext.request.contextPath}/users/login_form.do?url=${pageContext.request.contextPath}/notice/detail.do?num=${dto.num}";
					}
					return;
				}

				//click 이벤트가 일어난 바로 그 요소의 data-num 속성의 value 값을 읽어온다.
				const num=this.getAttribute("data-num"); //댓글의 글번호

				const form=document.querySelector("#reForm"+num);

				//현재 문자열을 읽어온다 ( "답글" or "취소" )
				let current = this.innerText;

				if(current == "답글"){
					//번호를 이용해서 댓글의 댓글폼을 선택해서 보이게 한다.
					form.style.display="block";
					form.classList.add("animate__flash");
					this.innerText="취소";
					form.addEventListener("animationend", function(){
						form.classList.remove("animate__flash");
					}, {once:true});
				}else if(current == "취소"){
					form.classList.add("animate__fadeOut");
					this.innerText="답글";
					form.addEventListener("animationend", function(){
						form.classList.remove("animate__fadeOut");
						form.style.display="none";
					},{once:true});
				}
			});
		}
	}

	function addUpdateFormListener(sel){
		//댓글 수정 폼의 참조값을 배열에 담아오기
		let updateForms=document.querySelectorAll(sel);
		for(let i=0; i<updateForms.length; i++){
			//폼에 submit 이벤트가 일어 났을때 호출되는 함수 등록
			updateForms[i].addEventListener("submit", function(e){
				//submit 이벤트가 일어난 form 의 참조값을 form 이라는 변수에 담기
				const form=this;
				//폼 제출을 막은 다음
				e.preventDefault();
				//이벤트가 일어난 폼을 ajax 전송하도록 한다.
				ajaxFormPromise(form)
				.then(function(response){
					return response.json();
				})
				.then(function(data){
					if(data.isSuccess){
						/*
							document.querySelector() 는 html 문서 전체에서 특정 요소의
							참조값을 찾는 기능

							특정문서의 참조값.querySelector() 는 해당 문서 객체의 자손 요소 중에서
							특정 요소의 참조값을 찾는 기능
						*/
						const num=form.querySelector("input[name=num]").value;
						const content=form.querySelector("textarea[name=content]").value;
						//수정폼에 입력한 value 값을 pre 요소에도 출력하기
						document.querySelector("#pre"+num).innerText=content;
						form.style.display="none";
					}
				});
			});
		}
	}
</script>

<!-- footer -->
<div th:replace="fragments/footer :: footer" class="footer-sticky"></div>
</body>
</html>
